
  .work {
      display: flex;
      justify-content: center;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 30px;
  }
 
  img {
    border-radius:55px;
    width: 80px;
  }
  #aboutme {
  flex-direction: row ;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 8rem;
  }

  #top {
      display: flex;
      flex-direction: row ;
      flex-wrap: wrap;
      background-color: whitesmoke;
  }
.work {
    border-bottom: solid;
    border-color: whitesmoke;
    height: 40rem;
    
}
.work-pic{
    width: 45rem;

}
footer {
    height: 3rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.content{
    margin-top: 10rem;
}
